.text-brand {
  color: var(--color-brand-normal);
}

.text-size-35 {
  font-size: 35px;
}

.text-size-45 {
  font-size: 45px;
}

.text-size-50 {
  font-size: 50px;
}

.text-size-74 {
  font-size: 74px;
}

.text-uppercase {
  text-transform: uppercase;
}

/*
.text-bold {
  font-weight: 600;
}
 */
