.advantages-section {
  padding-top: 30px;
  padding-bottom: 36px;

  &__list {
    color: var(--color-primary-light);
  }

  &__list-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &--right-sided {
      justify-content: flex-end;
    }
  }

  &__list-item-image {
    align-self: center;
  }

  &__list-item-text {
    max-width: 520px;
  }

  &__list-item-title {
    padding-top: 20px;
    padding-bottom: 12px;
  }
}
