.condusef-section {
  padding-top: 65px;
  //min-height: 800px; //delete later
  background-color: #d6ccd4;

  @media screen and (min-width: $bp-desktop) {
    overflow: hidden;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
  }

  &__image {
    /*  display: none; */
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__text-part {
    padding-bottom: 6px;
    max-width: 758px;
    min-height: 745px;
    text-align: center;
  }

  &__box {
    /*  margin-bottom: 26px; */
    margin-bottom: 26px;
    padding: 20px 106px 25px;
    border: 10px solid #b9adb7;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    margin-bottom: 26px;
  }
}
