.footer {
  padding-top: 43px;
  padding-bottom: 72px;
  color: var(--color-primary-light);
  font-family: 'Futura Md BT', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
