.header {
  /*   position: relative; */
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 15px 8px 15px 8px;
  background-color: var(--color-primary-light);
  border-bottom: 1px solid #eaeaea;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      gap: 16px;
    }
  }

  /*   &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-brand-normal);
    transition: fill 0.2s;

    &:hover {
      fill: var(--color-brand-light);
    }

    @media screen and (min-width: $bp-tablet) {
      width: 40px;
      height: 40px;
    }

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__burger-icon {
    width: 24px;
    height: 24px;

    @media screen and (min-width: $bp-tablet) {
      width: 40px;
      height: 40px;
    }
  } */
}
