.hero-section {
  padding: 50px 8px 0px 8px;

  @media screen and (min-width: $bp-desktop) {
    overflow: hidden;
  }

  &__container {
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__text-part {
    @media screen and (min-width: $bp-tablet) {
      display: block;
      /* align-items: start; */

      /* flex-grow: 1; */

      color: var(--color-primary-light);
      line-height: 1.4;
      letter-spacing: 1px;
      max-width: 560px;
    }
  }

  &__title {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 40px;
  }

  &__text-under-title {
    margin: -8px 0 77px;
    /* margin-top: -8px; */
    padding-left: 36px;
    /*  padding-bottom: 77px; */
    font-size: 17px;
    line-height: 1.85;
    letter-spacing: 1.1px;
  }
}
